<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="{{asset('bundles/mhamedCecilia/images/logo.jpg')}}">

    <link href="{{asset('bundles/mhamedCecilia/css/family=Kaushan+Script.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{asset('bundles/mhamedCecilia/css/family=Montserrat.css')}}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{asset('bundles/mhamedCecilia/css/bootstrap.min.css')}}">

	

    <title>Dr Cecilia</title>


    <!-- Custom CSS -->
    <link href="{{asset('bundles/mhamedCecilia/css/homepage stylesheet.css')}}" rel="stylesheet">
	<link href="{{asset('bundles/mhamedCecilia/css/agency.css')}}" rel="stylesheet">
    <style>
    body{
    	padding-top: 50px;
    }

         #loog{
            font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
         }
         #ohiide{
            display: {{hiide}};

         }
         #ohiide2{
            display: {{hiide2}};

         }
    </style>

</head>
<body>

   



<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" id="ddr">Dr. Cecilia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li id="ohiide">
                        <a href="#" id="navbarUser" data-toggle="dropdown"><img class="img-rounded" style="width:25px;height:25px" src="{{asset('bundles/mhamedCecilia/images/'~ app.user.image ~'')}}"/> {{app.user.firstname}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="loog">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{path('logout')}}" id="loog">Logout</a></li>
                        </ul>
                    </li>
                    <li id="ohiide2">
                        <a href="">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>







	



	<!-- Section contact -->
	<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">                                       </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                	{{ form_errors(form.name) }}
                                	{{ form_widget(form.name) }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                	{{ form_errors(form.email) }}
                                	{{ form_widget(form.email) }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                	{{ form_errors(form.phone) }}
                                	{{ form_widget(form.phone) }}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                	{{ form_errors(form.message) }}
                                	{{ form_widget(form.message) }}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                {{ form_widget(form.Send, { 'label': 'Send Message' }) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    
{% if app.session.flashbag.get('notice') %}
    <div class="flash notice">
        {{ render(controller('MhamedCeciliaBundle:Main:modal')) }}
    </div>
{% endif %}




</body>
</html>