<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="{{asset('bundles/mhamedCecilia/images/logo.jpg')}}">
	<!-- fonts -->
    <link href="{{asset('bundles/mhamedCecilia/css/family=Kaushan+Script.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{asset('bundles/mhamedCecilia/css/family=Montserrat.css')}}" rel="stylesheet" type="text/css">



    <title>Dr Cecilia</title>
	
    <link rel="stylesheet" href="{{asset('bundles/mhamedCecilia/css/bootstrap.min.css')}}">
	<link href="{{asset('bundles/mhamedCecilia/css/test sante stylesheet.css')}}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('mhamed_cecilia_homepage')}}" id="ddr">Dr. Cecilia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
					<li>
                        <a href="#" id="navbarLogin">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Health tests :
                    <small>Make health tests</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{asset('bundles/mhamedCecilia/images/test1.jpg')}}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Etes-vous trop stressé ?</h3>
                <h4> Test Psycho </h4>
                <p>Le stress est souvent à l'origine d'anxiété, d'insomnie, voire de dépression ou de maladies dites psychosomatiques. Or plus on rencontre de situations stressantes, plus les risques de problèmes de santé ou de troubles psychologiques sont importants. Deux chercheurs ont développé une échelle des évènements anxiogènes.
Mesurez votre niveau de stress en sélectionnant les événements que vous avez rencontrés au cours des 12 derniers mois :</p>
                <a class="btn btn-primary" href="#">Try test <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{asset('bundles/mhamedCecilia/images/test3.jpg')}}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Quel sport est fait pour vous ?</h3>
                <h4> Test Forme </h4>
                <p>Vous avez envie de vous mettre au sport ? Vous avez bien raison, l'activité physique est essentielle pour se maintenir en forme ! Mais quelle activité devez-vous choisir ? Vous hésitez ? Alors pour savoir quel sport est fait pour vous, faites notre test !</p>
                <a class="btn btn-primary" href="#">Try test <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{asset('bundles/mhamedCecilia/images/test4.jpg')}}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Testez votre envie d'enfant</h3>
                <h4> Test Grossesse et bébé </h4>
                <p>Vous êtes aujourd'hui une femme épanouie... et à chaque réunion de famille, on vous demande 'Alors quand est-ce que tu nous fais un petit ?'? Mais êtes-vous prête à devenir maman ? Pour savoir si c'est le moment de vous lancer dans la grande aventure de la maternité, faites ce test.</p>
                <a class="btn btn-primary" href="#">Try test <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                    <img class="img-responsive" src="{{asset('bundles/mhamedCecilia/images/test5.jpg')}}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Qu'est-ce qui fait vraiment maigrir ?</h3>
                <h4> Test Nutrition </h4>
                <p>Quand on cherche à perdre du poids, ou tout simplement quand on surveille sa ligne, il faut mettre tous les atouts de son côté. Mais il n'est pas toujours facile de s'y retrouver parmi toutes les affirmations qui circulent à propos des régimes minceur : faut-il supprimer le sel, l'ananas agit-il contre les graisses ? Un quiz pour savoir si vous êtes prêt à maigrir?</p>
                <a class="btn btn-primary" href="#">Try test <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{asset('bundles/mhamedCecilia/images/test6.jpg')}}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Pourquoi prenez-vous du poids ?</h3>
                <h4> Test Nutrition </h4>
                <p>Vous vous démenez pour perdre ces quelques kilos superflus ou vous menez une vie saine et active pour maintenir votre poids de forme. Pourtant ces beaux efforts ne sont pas récompensés. Au contraire, vous grossissez ! La faute à qui ? Au corps ou à la tête ? C’est sûr, il y a quelque chose qui cloche. Pas de panique, il existe des solutions. Mais pour les trouver, il faut d’abord bien se connaître. Ça tombe à pic, voici un test pour que vous ayez, enfin, toutes les cartes en main.</p>
                <a class="btn btn-primary" href="#">Try test <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Box 4006 S-141 04 HUDDINGE Sweden</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

<script src="{{asset('bundles/mhamedCecilia/javascript/jquery-1.11.2.min.js')}}"></script>
<script src="{{asset('bundles/mhamedCecilia/javascript/bootstrap.min.js')}}"></script>
</body>

</html>
